.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


* {
        outline: solid;
    }


  @media screen and (min-width: 480px) {
        .container {
                width: auto;
                overflow-x: hidden;
      width: 480px;
        }
  }
  @media screen and (min-width: 768px) {
            .container {
                    width: auto;
                    overflow-x: hidden;
    width: 768px;
            }
  }

  @media screen and (min-width: 1200px) {
.container {
                width: auto;
                overflow-x: hidden;
                width: 1200px;
        }
  }