@use '../utilities/_vars';
@use '../components/_comp';

@media screen and (max-width: 480px) {

.mobile__button--open {
        fill: vars.$text-color-default;
        background-color: transparent;
        border: none;
        transition: vars.$transition-duration vars.$transition-timing-function;
    }

    .mobile__button--open:hover,
    .mobile__button--open:hover {
        fill: vars.$highlight-color;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

.menu-container {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        padding: 30px;
        background-color: vars.$white-color;
        transform: translateX(100%);

    }
    .menu-container .is-open {
        transform: translateX(0);
    }
}
