@use '../utilities/_vars';
@use '../components/_comp';


.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}
.mobile{
    fill:transparent;
}
.mobile__button{
    border: none;
    background: transparent;
    @extend %transition;
}
.mobile__menu{
    min-width: 480px;
    margin-top: 48px;
    display: none;
}
.nav__mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacts__mobile{
    display: flex;
    flex-direction: column;
}
.mobile__links{
    display: flex;
    justify-content: center;
    
}

@media screen and (max-width: 480px){
    .mobile{
    fill: vars.$text-color-default;
    }
    .mobile__button:hover,
    .mobile__button:focus {
                fill: vars.$highlight-color;
                cursor: pointer;
             }
}

