@use '../utilities/_vars';
@use '../components/_comp';
.images__section{
    display: none;
    
        @media screen and (min-width: 768px) {}
    
        @media screen and (min-width: 1200px) {
            display: block;
    
            padding-bottom: 94px;
        }
    
        @media screen and (min-width: 1200px) {
            .images__list {
                display: flex;
                justify-content: center;
            }
    
            .images__title {
                font-weight: 700;
                font-size: 36px;
                line-height: calc(42/36);
                text-align: center;
                letter-spacing: 0.03em;
                color: vars.$text-color-default;
                margin-bottom: 30px;
            }
    
            .images__overlay {
                position: absolute;
                display: block;
                width: 100%;
                padding: 27px;
                bottom: 0;
                left: 0;
                background-color: rgba(47, 48, 58, 0.8);
                color: vars.$white-color;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: calc(16/14);
                text-align: center;
                letter-spacing: 0.03em;
                text-transform: uppercase;
            }
    
            .images__items {
                position: relative;
    
                &:not(:last-child) {
                    margin-right: 30px;
                }
            }
        }
    }
